{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    For each movie, you can see the title, the year of release.
    {{ movies|length }} movies found.

    {% for movie in movies %}
        <div>
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.releaseDate | date('Y') }}</p>
        </div>
    {% endfor %}

    {% if previous >= 0 %}
        <a href="{{ path('app_movie', { offset: previous }) }}">Previous</a>
    {% endif %}

    {% if next < movies|length %}
        <a href="{{ path('app_movie', { offset: next }) }}">Next</a>
    {% endif %}
</div>
{% endblock %}
