{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Movierequest</h3>
                    <h3>Change Password</h3>
                </div>

                {{ form_start(changePasswordForm) }}
                {{ form_row(changePasswordForm.oldPassword, {
                    label: 'Old Password',
                }) }}
                {{ form_row(changePasswordForm.newPassword.first, {
                    label: 'New Password Password',
                }) }}
                {{ form_row(changePasswordForm.newPassword.second, {
                    label: 'Confirm Password',
                }) }}

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Change Password</button>
                {{ form_end(changePasswordForm) }}

            </div>
        </div>
    </div>
{% endblock %}
