{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!{% endblock %}

{% block body %}

    {% if 'ROLE_ADMIN' in app.user.getroles()  %}
        {% set type = 'Pending' %}
    {% else %}
        {% set type = 'My' %}
    {% endif %}

    {% include 'request/_latest.html.twig' with latestApprovedRequest %}

    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">{{ type }} request(s)</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">Movie</th>
                            <th scope="col">Made By</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for request in requests %}
                        {% if request.status == '1' %}
                            <tr>
                                <td>{{ request.movie.title }}</td>
                                <td>{{ request.madeBy.email }}</td>
                                <td>{{ request.status }}</td>
                                <td>
                                    <a href="{{ path('app_request_show', {id: request.id}) }}" class="btn btn-sm btn-primary">View</a>
                                    {% if 'ROLE_ADMIN' in app.user.getroles()  %}
                                        <a href="{{ path('app_request_accept', {id: request.id}) }}" class="btn btn-sm btn-success">Approve</a>
                                        <a href="{{ path('app_request_refuse', {id: request.id}) }}" class="btn btn-sm btn-danger">Reject</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                {% set path = 'app_request' %}
                {% include '_paginator.html.twig' with {previous, next, currentPage, totalPages, path, nbPerPage} %}
            </div>
        </div>
    </div>
{% endblock %}
