{% extends 'base.html.twig' %}

{% block title %}Demande {{ request.movie.title }}{% endblock %}
{% block body %}
    <h1>Film {{ request.movie.title }}</h1>
    <p>Made by {{ request.madeBy.email }}</p>

    {% if isAdmin %}
        <a href="{{ path('app_request_refuse', {id: request.id}) }}"><button>Refuser</button></a>
        <a href="{{ path('app_request_accept', {id: request.id}) }}"><button>Accepter</button></a>
    {% endif %}
{% endblock %}
